<header class="header">
  <div class="logo">StoreManager</div>
  <nav class="nav">
    <a routerLink="/empleados" routerLinkActive="active">Empleados</a>
    <a routerLink="/productos" routerLinkActive="active">Productos</a>
    <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
    <a routerLink="/proveedores" routerLinkActive="active">Proveedores</a>
    <a routerLink="/ventas" routerLinkActive="active">Ventas</a>
    <a routerLink="/detalles-venta" routerLinkActive="active">Detalles Venta</a>
    <a routerLink="/tareas-pendiente" routerLinkActive="active">Tareas</a>
    <a routerLink="/metodo-pago" routerLinkActive="active">Métodos de Pago</a>
  </nav>
</header>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
